<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TouchTimer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BAAEDFE71E32A9AA00D5E8C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAAEDFF81E32A9AA00D5E8C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAAEE0031E32A9AA00D5E8C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
